{# base.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content="Resume and Portfolio"/>
    <meta name="author" content="Tiago Martinelli"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
 
    <title>Tiago Martinelli - UI/UX Design and Front-end development</title>

    <link rel="stylesheet" href="css/styles.css">
    
</head>
<body>

{% block page %}{% endblock %}

<!-- Libs -->
<script src="libs/greensock/src/minified/TweenMax.min.js"></script>
<script src="libs/greensock/src/minified/TweenLite.min.js"></script>
<script src="libs/greensock/src/minified/TimelineLite.min.js"></script>
<script src="libs/greensock/src/minified/TimelineMax.min.js"></script>
<script src="libs/three-js/three.min.js"></script>
<script src="libs/three-js/js/renderers/Projector.js"></script>
<script src="libs/three-js/js/renderers/CanvasRenderer.js"></script>

<script src="js/all.js"></script>

</body>
</html>