{# index.twig #}
{% extends "base.twig" %}

{% block page %}
<section id="intro">
    <div class="flex">
        <section id="resume" class="col">
            <header>
                <h2 id="myName">tiago martinelli</h2>
                <p class="text text--size-small text--uppercase" id="myRole">
                    designer & front-end developer
                </p>
            </header>  
        </section>
        <section id="work" class="col">
            <p class="text">
                Addict on digital products & web accessibility, living in São Paulo.
            </p>
            <p class="text">
                Co-Founder at <a href="http://hyperspace.com.br" target="_blank">Hyperspace - Product Vision inside Out</a>. <br> Experience in Prototyping, UI Design, UX Design, Software Development, Workshop Facilitation, Multidisciplinary Team Leadership, Agile, Scrum, Business Consulting.
            </p>               
            <ul>
                <li></li>
            </ul>
        </section>        
    </div>
    {% include 'social.twig' %}
</section>

{% endblock %}