{# index.twig #}
{% extends "base.twig" %}

{% block page %}
<section id="intro">
    <div class="flex">
        <section id="resume" class="col">
            <header>
                <h2 id="myName">tiago martinelli</h2>
                <p class="text text--size-small text--uppercase" id="myRole">
                    designer & front-end developer
                </p>
            </header>  
        </section>
        <section id="work" class="col">
            <p class="text">
                Brazillian guy living in São Paulo.
            </p>
            <p class="text">
                I've been working on digital projects since 2009, my experience is a mix of interface design - web development. I'm current working in
                <a href="http://3mw.com.br" target="_blank">
                    3MW
                </a>
                where I lead the product development team.
            </p>               
            <ul>
                <li></li>
            </ul>
        </section>        
    </div>
    {% include 'social.twig' %}
</section>

{% endblock %}