#intro {
    overflow: hidden;
    .flex {
        position: absolute;
        z-index: 2;
        @include mq('tablet', 'max') {
            flex-direction: column;
            .col {
                width: 100%;
            }
        }      
    }
    canvas {
        opacity: .1;
        z-index: 1;
    }
}