#resume {
    header {
        h2 {
            &#myName {
                opacity: 0;
            }
        }
        #myRole {
            opacity: 0;
        }
    }
    @include mq('tablet', 'max') {
        padding-bottom: 0;
        padding-left: 3rem;
        padding-right: 3rem;
    }      
}