#social {
    position: absolute;
    z-index: 2;
    bottom: 3rem;
    left: 3rem;
    width: 100%;
    max-width: 50%;
    li {
        width: 100%;
        float: left;
        max-width: 35px;
        opacity: 0;       
        a {
            svg {
                width: 100%;
                height: auto;
            }
        }
    } 
}