.text {
    font-family: $font-regular;
    font-size: 1rem;
    line-height: 1.8rem;
    color: $text-color;
    letter-spacing: 0.2rem;
    &--size-small {
        font-size: 0.7rem;
    }
    &--uppercase {
        text-transform: uppercase;
    }
}