/* Colors */
$dark: #111;
$light: #fff;
$text-color: #aaa;
$blue: #0559d8;

/* Font */
$font-size-default: 12px;
$font-regular: 'Raleway-Regular', sans-serif;
$font-regular-italic: 'Raleway-Italic', sans-serif;
$font-thin: 'Raleway-Thin', sans-serif;
$font-thin-italic: 'Raleway-ThinItalic', sans-serif;
$font-light: 'Raleway-Light', sans-serif;
$font-light-italic: 'Raleway-LightItalic', sans-serif;
$font-bold: 'Raleway-Bold', sans-serif;
$font-bold-italic: 'Raleway-BoldItalic', sans-serif;
$font-black: 'Raleway-Black', sans-serif;
$font-black-italic: 'Raleway-BlackItalic', sans-serif;