#work {
    opacity: 0;
    .text {
        position: relative;
        &:first-child {
            &::before {
                display: block;
                position: absolute;
                content: ' '; 
                background-color: $blue;
                height: 1px;
                width: 0px;
                left: -40px;
                top: 9px;
            }
        }
    }
    a {
        color: $text-color;
        text-decoration: none;
        display: inline-block;
        position: relative;
        transition: all 0.3s;
        &::after {
            display: block;
            position: absolute;
            content: ' ';              
            background: lighten($color: $dark, $amount: 10);
            width: 10%;
            height: 8px;
            top: 10px;
            opacity: 0;
            z-index: 1;
            left: -3px;
            transition: all 0.1s;
        }
        &:hover {
            color: $blue;
            &::after {
                display: block;
                position: absolute;
                content: ' ';                
                background: $blue;
                width: 100%;
                height: 1px;
                opacity: 1;
                top: 20px;
                left: 0px;
                transition: all 0.1s;
            }            
        }
    }
}